.login{

    padding: 8px !important;
    border-radius: 6px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.logo{

    height: 75px !important;
    width: 75px !important;
    border-radius: 50%;
    margin-left: 20px !important;
}

@media (max-width:768px) {
    
    .logo{

        margin-left: 0px !important;
        
    }
    
  }